In [33]:
import tushare as ts
import time
import datetime
import numpy as np
import pandas as pd
import os

In [7]:
pro = ts.pro_api(token='14544f66a3a8c9fad2c7d81df3faf20165b248745ce5e8cf994718cb')

In [8]:
[n for n in dir(pro) if not n.startswith('_')]

['query']

# BASIC

In [9]:
# stock_basic

In [10]:
data = pro.query('stock_basic', 
                 exchange='', 
                 list_status='L', 
                 fields='ts_code,symbol,name,area,industry,market,list_date,list_status')

In [22]:
data.drop_duplicates().reset_index().loc[:6, :]

   index    ts_code  symbol  name area industry market list_status list_date
0      0  000001.SZ  000001  平安银行   深圳       银行     主板           L  19910403
1      1  000002.SZ  000002   万科A   深圳     全国地产     主板           L  19910129
2      2  000004.SZ  000004  国华网安   深圳     软件服务     主板           L  19910114
3      3  000005.SZ  000005  世纪星源   深圳     环境保护     主板           L  19901210
4      4  000006.SZ  000006  深振业A   深圳     区域地产     主板           L  19920427
5      5  000007.SZ  000007   全新好   深圳     酒店餐饮     主板           L  19920413
6      6  000008.SZ  000008  神州高铁   北京     运输设备     主板           L  19920507

In [12]:
# top10_holders
# top10_floatholders
#

In [19]:
# topten = pro.query('top10_floatholders', ts_code='300014.SZ').loc[:30, :]

In [20]:
# topten

In [21]:
# topten.drop_duplicates().reset_index()

In [ ]:
# Get topten data

In [40]:
path = '../data/stock_basic.csv'

stock_basic = pro.query('stock_basic', 
             exchange='', 
             list_status='L', 
             fields='ts_code,symbol,name,area,industry,market,list_date,list_status')

if not os.path.exists(path):
    stock_basic.to_csv(path, sep='\t')

In [24]:
path = '../data/toptens.csv'

def save_topten_data(filename, N=40):
    '''10 * 4000 / 60 / 60 = 11h
    '''
    data = pro.query('stock_basic', 
                 exchange='', 
                 list_status='L', 
                 fields='ts_code,symbol,name,area,industry,market,list_date,list_status')

    toptens = []
    for i, code in enumerate(data.ts_code):
        topten = pro.query('top10_floatholders', ts_code=code).loc[:N+20, :].drop_duplicates().loc[:N, :]
        toptens.append(topten)
        
        time.sleep(6.1)
        
    toptens = pd.concat(toptens)
    toptens.to_csv(filename, sep='\t')
    
if not os.path.exists(path):
    save_topten_data(path)

In [81]:
# datetime
stime = time.strftime('%Y%m%d',  time.localtime(time.time() - 86400 * 6 * 30))
ctime = time.strftime('%Y%m%d',  time.localtime(time.time()))
print(stime, ctime)

code = '600000.SH'
# df = pro.query('top10_floatholders', ts_code=code, start_date=stime, end_date=ctime)
df = pro.query('top10_floatholders', ts_code=code,).loc[:30, :].drop_duplicates().loc[:10, :]
df['name'] = stock_basic[stock_basic.ts_code == code].name.values[0]

df

20201102 20210501

      ts_code  ann_date  end_date         holder_name   hold_amount  name
0   600000.SH  20210430  20210331          上海国际集团有限公司  6.331323e+09  浦发银行
1   600000.SH  20210430  20210331      中国移动通信集团广东有限公司  5.334893e+09  浦发银行
2   600000.SH  20210430  20210331   富德生命人寿保险股份有限公司-传统  2.779437e+09  浦发银行
3   600000.SH  20210430  20210331  富德生命人寿保险股份有限公司-资本金  1.763232e+09  浦发银行
4   600000.SH  20210430  20210331       上海上国投资产管理有限公司  1.395571e+09  浦发银行
5   600000.SH  20210430  20210331  富德生命人寿保险股份有限公司-万能H  1.270429e+09  浦发银行
6   600000.SH  20210430  20210331        中国证券金融股份有限公司  1.179109e+09  浦发银行
7   600000.SH  20210430  20210331        上海国鑫投资发展有限公司  9.455690e+08  浦发银行
8   600000.SH  20210430  20210331     香港中央结算有限公司(陆股通)  5.495415e+08  浦发银行
9   600000.SH  20210430  20210331      中央汇金资产管理有限责任公司  3.985214e+08  浦发银行
10  600000.SH  20210327  20201231          上海国际集团有限公司  6.331323e+09  浦发银行

In [10]:
# analysis-01

In [11]:
names = ['进化论']

In [17]:
final_code = []

for code in data.ts_code:
    # print(type(code), code)
    topten = pro.query('top10_floatholders', ts_code=code,).loc[:30, :].drop_duplicates().loc[:10, :]
    
    time.sleep(10) # 抱歉，您每分钟最多访问该接口10次，
    
    break
#     for holder in topten.holder_name:
#         if names[0] in holder:
#             # print(code)
#             final_code.append(code)
#             break

In [18]:
for n in topten.holder_name:
    print(n)

香港中央结算有限公司(陆股通)
中国平安人寿保险股份有限公司-自有资金
中国平安人寿保险股份有限公司-传统-普通保险产品
中国证券金融股份有限公司
中国银行股份有限公司-易方达蓝筹精选混合型证券投资基金
招商银行股份有限公司-兴全合润混合型证券投资基金
深圳中电投资股份有限公司
中国光大银行股份有限公司-兴全商业模式优选混合型证券投资基金(LOF)
全国社保基金一一七组合
中国平安保险(集团)股份有限公司-集团本级-自有资金
中国平安人寿保险股份有限公司-自有资金

In [24]:
np.concatenate([np.array(topten), np.array(topten)], axis=0).shape

(62, 5)

In [22]:
np.array(topten).shape

(31, 5)

In [26]:
np.save('test.npy', np.array(topten))

In [31]:
pd.concat([topten, topten])

,ts_code,ann_date,end_date,holder_name,hold_amount
0,300014.SZ,20201029,20200930,西藏亿纬控股有限公司,607407917.0
1,300014.SZ,20201029,20200930,汇安基金-华能信托·博远惠诚集合资金信托计划-汇安基金-汇鑫32号单一资产管理计划,68606307.0
2,300014.SZ,20201029,20200930,香港中央结算有限公司(陆股通),47850648.0
3,300014.SZ,20201029,20200930,中国建设银行股份有限公司-广发科技先锋混合型证券投资基金,36406666.0
4,300014.SZ,20201029,20200930,中国工商银行股份有限公司-广发双擎升级混合型证券投资基金,24851110.0
...,...,...,...,...,...
26,300014.SZ,20200425,20200331,骆锦红,12729189.0
27,300014.SZ,20200425,20200331,中国工商银行股份有限公司-广发双擎升级混合型证券投资基金,11073520.0
28,300014.SZ,20200425,20200331,中国建设银行股份有限公司-交银施罗德经济新动力混合型证券投资基金,10305580.0
29,300014.SZ,20200425,20200331,中国银行股份有限公司-华夏中证新能源汽车交易型开放式指数证券投资基金,9396842.0
30,300014.SZ,20200425,20200331,上海浦东发展银行股份有限公司-广发小盘成长混合型证券投资基金(LOF),8911520.0